@{
	ViewBag.Title = "My Error Page";
}
<div style=" padding:20px; color:red">
	<h2>
		RealTimeSportsStatistics Error Page:
	</h2>
	<h4>
		Sorry, The Page You are Looking for is not found.
	</h4>
	<h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
</div>